// Site Colors
@C0: #00C7FF;
@C1: white;
@C2: #FF0320;
@C3: #FFB300;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @C0;
  color: @C1;
}

a {
  color: average(@C2, @C1);
}